
 /* background Added */
body{
    background: url("./assets/img/background.jpg");

}

 /* header styles */
.site-header{
    background: #fff1f6;
    height: 115px;
    padding-top: 7px;
}

 /* Site Logo css */
.site-header a img{
    height: 100px;
}

/* Navbar Css */
.main-navigation li a{
    color: #ea4269;
    font-family: 'Dancing Script', cursive;
    font-size: 21px;
    font-weight: bolder;
}

/* Nav Element css */
.main-navigation li{
    transition-duration: .5s;
}

/* hover animation on menu items */
.main-navigation li:hover{
    scale: 1.3;
}

/* Title of products*/
.wc-block-grid__product-title{
    text-decoration: none;
    font-size: 21px;
    font-family: cursive;
    color: #ea4269;
}

/* h2 styles on pages*/
.h2-title{
    color: #ea4269;
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
    font-size: 70px;
}

/* H3 styles - Heading*/
.h3-subtitle{
    color: #fff;
font-family: cursive;
background: #ffa6b7;
width: max-content;
margin: 0 auto;
padding: 10px;
text-decoration: none;
text-align: center;
}

/* Scroll text */
.scroll-text{
    margin-top: 80px;
}

/* images of home section*/
.home-images{
    width: 80%;
    margin: 0 auto;
}

/* Party section images on homepage */
.home-images .wp-block-media-text__media img{
    border-radius: 50px;
}

/* Party section text on homepage */
.home-images .wp-block-media-text__content p{
    color: #ea4269;
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
    font-size: 58px;
}

/* archive page description */
.archive-description{
    text-align: center;
    color: #ea4269;
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
    font-size: 70px;
    margin-top: 30px;
}

/* Archive page Images */
.archive .blushthm_cake a img{
    height: 550px;
    width: auto;
    float: left;
}

/* Archive page elements */
.archive .blushthm_cake{
    height: 640px;
    padding: 54px 100px;
}

/* Archive page text */
.archive .blushthm_cake .entry-content{
    width: 45%;
    float: right;
    color: #fff;
    font-family: cursive;
    background: #ffa6b7;
    padding: 35px;
    position: absolute;
    font-size: 21px;
    left: 36%;
    margin-top: 8%;
    height: 406px;
}

/* Single page Image */
.single .post-thumbnail img{
    height: 550px;
    width: auto;
    float: left;
}

/* Single page section */
.single .blushthm_cake{
    height: 640px;
    padding: 54px 100px;
}

/* Single page text */
.single .blushthm_cake .entry-content{
    width: 45%;
    float: right;
    color: #fff;
    font-family: cursive;
    background: #ffa6b7;
    padding: 35px;
    position: absolute;
    font-size: 21px;
    left: 36%;
    margin-top: 8%;
    height: 406px;
}

/* custom posts Navigation */
.nav-previous a,
.nav-next a{
    text-decoration: none;
    color: #fff;
    background: #ea4269;
    padding: 10px;
    border-radius: 8px;
    transition-duration: .3s;
}

/* navigation on single posts page */
.nav-next a:hover,
.nav-previous a:hover{
    color: #ffa6b7;
}

/* Title of the page */
.custom-title{
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
    font-size: 70px;
    text-align: center;
    margin-top: 50px;
    background: #ffa6b7;
    color: white;
    padding-top: 40px;
    text-decoration: underline;
}

/* posts section index page */
.custom-posts-section{
    background: #ffa6b7;
    padding: 2% 12%;
}

/* index page custom posts image */
.custom-post-image img{
    height: 500px;
width: auto;
padding: 5%;
margin: 0px 36px -60px 36px;
border-radius: 0px 50px;
}

/* Custom posts Title */
.qTitle{
    position: absolute;
    font-size: 21px;
    background: #ffffff6e;
    border-radius: 10px 0px;
    padding: 10px;
    margin-left: 0px;
    text-align: center;
    margin-top: 31px;
}

/* Custom posts excerpts */
.custom-post-excerpt{
    background: #ffffff6e;
    padding: 10px;
    border-radius: 0px 30px;
}

/* Custom posts button */
.qPostLink a{
    text-decoration: none;
    color: #fff;
    background: #ea4269;
    padding: 10px;
    border-radius: 8px;
    transition-duration: .3s;
    float: right;
    margin-top: -45px;
}

/* Custom posts button hover */
.qPostLink a:hover{
    scale: 1.2;
}

/* all nav links in the footer */
.footer-links{
    color: #ea4269;
    font-family: cursive;
    background: #ffffff6e;
    border-radius: 30px 0px;
    border:solid 3px #ea4269;
    margin: 0 auto;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    margin-top: 20px; 
    width: 142px
}

/* visited page shouls have same css */
.footer-links:visited{
    color: #ea4269;
text-decoration: none;
}

/* footer logo */
.footer .site-branding {
    margin-top: 16%;
}

/* footer texts */
.footer h2, 
.footer h3{
    color: #ea4269;
    text-align: center;
}

/* about page sidebar */
.widget-area{
    background: #ffc8d2;
    padding: 32px;
}

/* sidebar title */
.widget-title{
    color: #ea4269;
    font-family: cursive;
    background: #ffffff6e;
    border-radius: 30px 0px;
    border:solid 3px #ea4269;
    margin: 0 auto;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    margin-top: 20px; 
    width: 206px;
    margin-bottom: 21px;
}

/* setting visited to default */
:visited{
    text-decoration:none;
}

/* title inside widgets */
.product_list_widget a .product-title{
    color: #ea4269;
}

/* images inside widgets */
.woocommerce ul.product_list_widget li img{
    width: 75px;
}

/* Links inside widgets */
.widget_categories ul li a,
.widget_categories ul li {
    color: #ea4269;
    text-decoration:none;
}

/* unordered lists inside widgets */
.widget_categories ul{
    line-height: 2;
}

/* about page texts */
.about-text{
    background: #ffffff6e;
    padding: 10px;
    border-radius: 0px 30px;
    color: #ea4269;
    border: solid 3px #ea4269;
}

@media screen and (max-width: 600px) {
	.main-navigation ul{
		display: flex;
		flex-wrap: wrap;
		list-style: none;
	}

	.site-header{
		background: #fff1f6;
		height: 235px;
		padding-top: 7px;
	}
}