body{
    background: url("./assets/img/background.jpg");
    
}

.site-header{
    background: #fff1f6;
    height: 115px;
    padding-top: 7px;
}

.site-header a img{
    height: 100px;
}

.main-navigation li a{
    color: #ea4269;
    font-family: 'Dancing Script', cursive;
    font-size: 21px;
    font-weight: bolder;
}

.main-navigation li{
    transition-duration: .5s;
}

.main-navigation li:hover{
    scale: 1.3;
}


